.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App>header>img{
  width:10%;
  animation: sel infinite 0.3s;
  
  
}

@keyframes sel {
  from {
    transform: translateY(0px);
    /* transform: ; */
  }
  to {
    transform: translateY(-10px);
    /* transform: ; */
  }
}

.App>header{
  margin: 20px;
}

.message{
  display: flex;
  justify-content: space-between;
  margin: 0 200px 10px 200px;
  border: solid 1px black;
  background-color: rgb(211, 211, 211);
}

.message>img{
  width: 50px;
}

.message>p{
  padding-right: 5px;
}